.main-section {
  text-align: left;
  background-color: #f7f7f7;
  font-weight: bolder;
  position: relative;
  min-height: fit-content;
}

.main-title {
  font-size: 3.0rem;
  text-align: left;
  justify-content: left;
  font-weight: bolder;

  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-description {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: small;

}

.shop-button {
  background-color: black;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.shop-button:hover {
  background-color: #333;

}

.stats {
  display: flex;
  justify-content: left;
  margin-top: 3rem;
}

.stat {
  text-align: center;
  margin: 0 2rem;
}

.stat-number {
  display: block;
  font-size: 2.0rem;
  font-weight: bold;
  color: black;

}

.stat-label {
  margin-top: 1.5rem;
  color: black;
}

.content {
  background-image: url('/src/assets/Hero-background.png');
  background-size: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-repeat: no-repeat;
}

.content .inner-content {
  padding: 2rem;
}

.star .back-image {
  display: none;
}


.star {
  height: 90%;
  position: relative;
}

.small-star {
  position: absolute;
  left: 20px;
  bottom: 30%;
}

.big-star {
  position: absolute;
  right: 30px;
  top: 10%;
}


@media (max-width: 768px) {

  .content {
    grid-template-columns: 1fr;
    background-image: none;
  }

  .content>div,
  .content h1,
  .content p {
    text-align: center;
  }

  .content button {
    margin-inline: auto;
  }

  .star{
    width: 100%;
    height: fit-content;
  }
  .star .back-image {
    display: block;
    width: 100%;
    object-fit: contain;

  }

  .small-star {
    position: block;
    left: 20px;
    bottom: 30%;
  }
  
  .big-star {
    position: absolute;
    right: 30px;
    top: 10%;
  }

  .star{
    padding: 0.4rem;
  }

  .stats {
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .inner-content{
    padding: 4rem 1.5rem;
  }

  .main-title{
    margin-top: 30px;
  }

  .main-description{
    margin-block: 30px;
    width: 70%;
    margin-inline: auto;
  }


}